/***********************************************
APACHE OPEN FOR BUSINESS
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
***********************************************/
@import url("../js/jquery/ui/css/custom-theme/jquery-ui-1.7.2.custom.css");
/***********************************************
Layout
***********************************************/
html, body, #wrap {height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#wrap {
    background:url(../js/jquery/ui/css/custom-theme/images/ui-bg_glass_65_ffffff_1x400.png.png) top left repeat-y;
    min-width: 920px;
    max-width: 1980px;
    margin: 0;
    width:expression(document.body.clientWidth < 922? "920px" : document.body.clientWidth > 1982? "1980px" : "auto");
}
li{
	list-style-type: none;
	}
#header{
	display:block;
	border: 1px solid #aaaaaa;
	background-image:url(../images/jinghui-1-80-84.gif);
	background-repeat: no-repeat;
	background-position: center;	
	height: 84px;
}

.hasBorder{
	border: 1px solid #aaaaaa;
	}
.header-left{
	display: block;
	width: 50%;
	float: left;
	height: 100%;
	padding-top: 60px;
	
}
.header-left .appsMenu{
	width: 80%;
	height: 24px;
	padding-top: 0px;
	
}
.header-left .appsMenu ul{
	width: 100%;
	padding-top: 0px;
	display: block;
	height:100%;
	}
.header-left .appsMenu ul li{
	float: left;
	
}


.header-right{
	display: block;
	width: 460px;
	float: right;
	padding-top: 60px;
}


#header .header-right span{
	float: left;
}
#header .header-right span:first{
	margin-left: 70px;
}

#footer {
    background:url(../js/jquery/ui/css/custom-theme/images/ui-bg_glass_65_ffffff_1x400.png) top left repeat-y;
    clear:both;
    color:#444;
    height: 20px;
    margin-top: -20px;
    min-width: 920px;
    max-width: 1980px;
    position: relative;
    width:expression(document.body.clientWidth < 922? "920px" : document.body.clientWidth > 1982? "1980px" : "auto");
}

.poweredBy {
    background:#f8f8f8;
    border-top:1px dashed #ddd;
    border-right:1px dashed #ddd;
    border-left:1px dashed #ddd;
    margin: 0px 20px 0px 220px;
    font-size:10px;
}

.poweredBy span {
    margin:0 10px 0 10px;
}

.poweredBy span a{
    color:#333;
}

